body {
    background-color: #363e52;
}

h5{
    font-size: 1rem;
}
.App {
    text-align: center;
}

.input-gruop {
    width: 80%;
}
.card{
    max-width: 80%;
}
.card-body{
    height: 50%;
}
.card-title{
    color: black;
    position: absolute;
    padding: 20px;
}

.card-date{
    color: black;
    position: absolute;
    padding-left: 20px;
    top: 60px;

}

.card-temp{
    color: rgb(0, 0, 0);
    position: absolute;
    padding-left: 20px;
    top: 80px;
    font-size: 45px;
}

.card-desc{
    color: black;
    background-color: #ffffff96;
    position: absolute;
    margin-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    top: 160px;
}