body {
    background-color: #363e52;
}

.App {
    text-align: center;
}

.input-gruop {
    width: 80%;
}
.card{
    max-width: 80%;
}

.card-title{
    color: black;
    position: absolute;
    padding: 20px;
}

.card-date{
    color: black;
    position: absolute;
    padding-left: 20px;
    top: 60px;

}

.card-temp{
    color: white;
    position: absolute;
    padding-left: 20px;
    bottom: 60px;
    font-size: 45px;
}

.card-desc{
    color: black;
    background-color: #ffffff96;
    position: absolute;
    margin-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    bottom: 0;
}